@mixin position($position, $args: ()) {
	$offsets: top right bottom left;
	position: $position;

	@each $offset in $offsets {
		$index: index($args, $offset);

		@if $index {                       
			@if $index == length($args) {
				#{$offset}: 0;
			}
			@else {      
				$next: nth($args, $index + 1);               
				@if is-valid-length($next) {
					#{$offset}: $next;
				}
				@else if index($offsets, $next) {
					#{$offset}: 0;
				}
				@else {
					@warn "Invalid value `#{$next}` for offset `#{$offset}`.";
				}
			}
		}
	}
}

@mixin absolute($args: ()) {
	@include position(absolute, $args);
}

@mixin fixed($args: ()) {
	@include position(fixed, $args);
}

@mixin relative($args: ()) {
	@include position(relative, $args);
}

@mixin size($width, $height:$width){
	@if (is-valid-length($width) and is-valid-length($height)){
		width: $width;
		height: $height;
	}
	@else{
		@warn "Invalid value for `height` or `width`";
	}
}

@mixin colors($color, $background-color){
	@if (type-of($color) == 'color' and type-of($background-color) == 'color'){
		color: $color;
		background-color: $background-color;
	}
	@else{
		@warn "Invalid value for `color` or `background-color`";
	}
}

@mixin linear-gradient($direction, $color-stops...) {
	
	@if is-direction($direction) == false {
		$color-stops: $direction, $color-stops;
		$direction: 180deg;
	}

	background: nth(nth($color-stops, 1), 1);
	background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
	background: linear-gradient($direction, $color-stops);
}

@mixin font($font-args:()){

	$font-weight: bold normal;
	$font-style: italic oblique normal;
	$normal-entry: 0;

	@each $property in $font-args{
		@if is-valid-length($property){
			font-size: $property;
		}
		@else if (index($font-weight, $property) or index($font-style, $property)){
			@if (index($font-weight, $property) and $normal-entry == 0){
				@if ($property == 'normal'){
					$normal-entry: 1;
				}
				font-weight: $property;
			}
			@else {
				font-style: $property;
			}
		}
		@else{
			font-family: $property;
		}
	}
}

@mixin prefix($map, $vendors: webkit moz ms o) {
	@each $prop, $value in $map {
		@if $vendors {
			@each $vendor in $vendors {
				#{"-" + $vendor + "-" + $prop}: #{$value};
			}
		}
		#{$prop}: #{$value};
	}
}

@mixin transition($property: all, $config: .15s linear){

	$timing-functions: ease ease-in ease-out ease-in-out linear;
	$is-valid-config: false;
	$duration: null;
	$timing-function: null;
	$delay: null;

	@if ($config == (.15s linear)) {
		@include prefix((
			transition: $property $config
			));
	}
	@else{
		@each $arg in $config {
			@if (type-of($arg) == 'string'){
				@if (index($timing-functions, $arg)){
					$timing-function: $arg;
				}
				@else{
					@warn 'Invalid value `#{$arg}` for transition-timing-function';
				}
			}

			@if (type-of($arg) == 'number'){
				@if (unit($arg) == 's' or unit($arg) == 'ms'){
					@if ($duration == null){
						$duration: $arg;
						$is-valid-config: true;
					}
					@else{
						$delay: $arg;
					}
				}
				@else{
					@warn 'Invalid value `#{$arg}` for transition timing value';
				}
			}
		}

		@if ($is-valid-config){
			@include prefix((
				transition: $property $duration $timing-function $delay
				));
		}
		@else{
			@warn 'Invalid syntax for transition property';
		}
	}
}

@mixin input($height, $padding: 1em){
	@if (is-valid-length($height)){
		display: block;
		line-height: $height - 10;
		text-align: left;
		outline: 0;
		@include size(100%, $height);
		padding: floor(($height - 10)/2) $padding;
	}
	@else{
		@warn 'Invalid value for height';
	}
}

@mixin placeholder{
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder{
		@content;
	}
	&::-moz-placeholder { 
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

@mixin content($width, $height: $width){
	content: '';
	@include size($width, $height);
}

@mixin clearfix{
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}

@function is-valid-length($value) {
	@return index(0 "auto" "inherit" "initial", $value) or 
	(type-of($value) == "number" and not unitless($value));
}

@function is-direction($value) {
	$is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
	$is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

	@return $is-keyword or $is-angle;
}

@function legacy-direction($value) {
	@if is-direction($value) == false {
		@error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
	}

	$conversion-map: (
		to top          : bottom,
		to top right    : bottom left,
		to right top    : left bottom,
		to right        : left,
		to bottom right : top left,
		to right bottom : left top,
		to bottom       : top,
		to bottom left  : top right,
		to left bottom  : right top,
		to left         : right,
		to left top     : right bottom,
		to top left     : bottom right
		);

	@if map-has-key($conversion-map, $value) {
		@return map-get($conversion-map, $value);
	}

	@return 90deg - $value;
}