html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'GillSans';
  src: url("../fonts/GillSans.eot");
  src: url("../fonts/GillSans.eot") format("embedded-opentype"), url("../fonts/GillSans.woff2") format("woff2"), url("../fonts/GillSans.woff") format("woff"), url("../fonts/GillSans.ttf") format("truetype"); }
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.35;
  color: #000;
  background: url(../img/css/body-bg.jpg) repeat 0 0, #fff; }

p {
  margin: 0;
  margin-bottom: 20px; }

a {
  color: #007bd4;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }
  a:hover {
    text-decoration: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.list {
  margin: 0;
  padding: 0;
  list-style: none; }

.link-fadeout {
  opacity: 1; }
  .link-fadeout:hover {
    opacity: .75; }

.wrap {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px; }

.page-container {
  margin: 40px auto;
  padding-top: 20px;
  width: 990px;
  position: relative;
  z-index: 5;
  border-radius: 0 8px 8px 8px;
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }
  .page-container:before {
    content: url(../img/css/page-corner.png);
    position: absolute;
    top: -40px;
    left: -6px;
    z-index: 1; }

.login--img {
  margin-right: 30px; }
.login--line {
  padding-top: 10px;
  text-align: right; }
.login--btn {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 37px;
  padding: 0 55px;
  border: 0;
  border-radius: 6px;
  color: #fff;
  background-color: #007bd4; }
  .login--btn:hover {
    background-color: #003256; }
.login--lang {
  display: inline-block;
  margin-left: 17px;
  font-size: 0; }
  .login--lang > li {
    display: inline-block;
    margin-right: 10px; }

.share {
  position: absolute;
  top: 50%;
  left: -62px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .share--list {
    margin-top: -5px; }
    .share--list > li {
      margin-top: 5px; }
  .share--link {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/css/share.png) no-repeat; }
    .share--link--fb {
      background-position: 0 0; }
    .share--link--tw {
      background-position: 0 -45px; }
    .share--link--in {
      background-position: 0 -90px; }

.text {
  padding: 4px 0 10px;
  text-align: justify; }
  .text span {
    font-family: 'GillSans'; }

.foot {
  clear: both;
  position: relative;
  min-height: 80px;
  padding-right: 220px;
  color: #c9c9c9;
  background-color: #003256;
  border-radius: 0 0 8px 0; }
  .foot:before {
    content: url(../img/css/foot-corner.png);
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 1; }
  .foot--logo {
    position: absolute;
    top: 6px;
    right: 30px; }
  .foot--sections {
    font-family: 'GillSans';
    font-size: 12px;
    line-height: 1.1;
    margin-left: -25px; }
    .foot--sections > li {
      display: inline-block;
      vertical-align: top;
      position: relative;
      max-width: 48%;
      padding: 20px 25px; }
      .foot--sections > li:after {
        content: '';
        width: 1px;
        height: auto;
        position: absolute;
        top: 6px;
        right: 0;
        bottom: 6px;
        background: rgba(25, 70, 103, 0);
        background: -webkit-linear-gradient(bottom, rgba(25, 70, 103, 0), #194667, rgba(25, 70, 103, 0));
        background: linear-gradient(to top, rgba(25, 70, 103, 0), #194667, rgba(25, 70, 103, 0)); }
      .foot--sections > li:last-child:after {
        content: none; }
  .foot--heading {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    margin: 0;
    margin-bottom: 3px; }
  .foot--mail {
    display: inline-block;
    color: #0d85ff;
    text-decoration: underline;
    margin-left: 14px; }

/*# sourceMappingURL=styles.css.map */
