@import '_mixins';
@import '_variables';
@import '_normalize';

@font-face {
	font-family: 'GillSans';
	src: url('../fonts/GillSans.eot');
	src: url('../fonts/GillSans.eot') format('embedded-opentype'),
	url('../fonts/GillSans.woff2') format('woff2'),
	url('../fonts/GillSans.woff') format('woff'),
	url('../fonts/GillSans.ttf') format('truetype');
} 

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.35;
	color: #000;
	background: url(#{$css-url}body-bg.jpg) repeat 0 0, #fff;
}

p{
	margin: 0;
	margin-bottom: 20px;
}

a{
	color: map-get($colors, blue-light);
	@include prefix((
		transition: all .15s linear
		), webkit moz);
	&:hover{
		text-decoration: none;
	}
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.clearfix{
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}

.list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.link-fadeout{
	opacity: 1;
	&:hover{
		opacity: .75;
	}
}

.wrap{
	margin: auto;
	padding: {
		left: 20px;
		right: 20px;
	}
}

.page-container{
	margin: 40px auto;
	padding-top: 20px;
	width: $site-width;
	position: relative;
	z-index: 5;
	border-radius: 0 8px 8px 8px;
	background-color: #fff;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
	&:before{
		content: url(#{$css-url}page-corner.png);
		@include absolute(top -40px left -6px);
		z-index: 1;
	}
}

.login{
	&--img{
		margin-right: 30px;
	}
	&--line{
		padding-top: 10px;
		text-align: right;
	}
	&--btn{
		font-size: 20px;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		line-height: 37px;
		padding: 0 55px;
		border: 0;
		border-radius: 6px;
		@include colors(#fff, map-get($colors, blue-light));
		&:hover{
			background-color: map-get($colors, blue);
		}
	}
	&--lang{
		display: inline-block;
		margin-left: 17px;
		font-size: 0;
		> li {
			display: inline-block;
			margin-right: 10px;
		}
	}
}

.share{
	@include absolute(top 50% left -62px);
	@include prefix((
		transform: translateY(-50%)
		), webkit ms);
	&--list{
		margin-top: -5px;
		> li {
			margin-top: 5px;
		}
	}
	&--link{
		display: block;
		@include size(40px);
		background: url(#{$css-url}share.png) no-repeat;
		&--fb{
			background-position: 0 0;
		}
		&--tw{
			background-position: 0 -45px;
		}
		&--in{
			background-position: 0 -90px;
		}
	}
}

.text{
	padding: 4px 0 10px;
	text-align: justify;
	span{
		font-family: 'GillSans';
	}
}

.foot{
	clear: both;
	position: relative;
	min-height: 80px;
	padding-right: 220px;
	@include colors(#c9c9c9, map-get($colors, blue));
	border-radius: 0 0 8px 0;
	&:before{
		content: url(#{$css-url}foot-corner.png);
		@include absolute(top 100% left -1px);
		z-index: 1;
	}
	&--logo{
		@include absolute(top 6px right 30px);
	}
	&--sections{
		font-family: 'GillSans';
		font-size: 12px;
		line-height: 1.1;
		margin-left: -25px;
		> li{
			display: inline-block;
			vertical-align: top;
			position: relative;
			max-width: 48%;
			padding: 20px 25px;
			&:after{
				@include content(1px, auto);
				@include absolute(top 6px right bottom 6px);
				@include linear-gradient(to top, rgba(25,70,103, 0), rgba(25,70,103, 1), rgba(25,70,103, 0));
			}
			&:last-child:after{
				content: none;
			}
		}
	}
	&--heading{
		font-size: 18px;
		font-weight: normal;
		color: #fff;
		margin: 0;
		margin-bottom: 3px;
	}
	&--mail{
		display: inline-block;
		color: #0d85ff;
		text-decoration: underline;
		margin-left: 14px;
	}
}
